@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at top, #070b1f, #02030a);
  overflow-x: hidden;
  color: white;
  cursor: none;
}

.rocket-cursor {
  position: fixed;
  width: 14px;
  height: 14px;
  background: radial-gradient(circle, #7cf6ff, transparent);
  border-radius: 50%;
  pointer-events: none;
}
